/**color:30 66.6 33.3**/
h1{font-size:32px;}
h2{font-size:24px;line-height:1.5em;}
h3{font-size:20px;line-height:1.5em;}
h4{font-size:16px;}
h5{font-size:14px;}
a{color:#613f23;text-decoration:none;}
a:hover{color:#6B3000;text-decoration:none;}
.more:after {
    content: "\00BB";
    padding-left: 0.5em;
}